doctype
html
	head
		include head
	body
		header
			include header
		section.cursos
			.container.bg-white
				.row.file1
					.col.s12.m6
						h2 CURSOS
						p Nuestros cursos online y e-Learning han sido diseñados por expertos profesionales internacionales que contribuyen con su experiencia a la facilitación del aprendizaje a través de contenidos de aprendizaje dinamizados, técnicas colaborativas y propuestas innovadoras para la participación y el protagonismo de los cursantes.
					.col.s12.m6
						h2 CERTIFICACIÓN
						p Todos nuestros cursos tienen una certificación que será dada por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería de Perú. 
				.filtering-nav
					ul 
						li
							a(href="#" class="active") todos 
						li
							a(href="#") programación
						li
							a(href="#") bbdd y redes
						li
							a(href="#") sistemas
						li
							a(href="#") negocios y economía
						li
							a(href="#") docencia y tic's
						li
							a(href="#") marketing y diseño digital
						li
							a(href="#") ingeniería y multimedia
						li
							a(href="#") gestión de proyectos y ofimática
				.clear
				.row
					.col.12.m4
						.curso
							img(src="images/cursos/pe22.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño y Javascript, HTML5 y CSS3
								p Duración: 60 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe23.jpg")
							.desc
								h5.center-align 
									a(href="#") Python y Django
								p Duración: 80 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe24.jpg")
							.desc
								h5.center-align 
									a(href="#") Enterprise Design Patterns con .NET
								p Duración: 50 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
				.row
					.col.12.m4
						.curso
							img(src="images/cursos/pe25.jpg")
							.desc
								h5.center-align 
									a(href="#") ASP.NET y Caches
								p Duración: 20 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe26.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño web con Expression Blend y XAML Avanzado
								p Duración: 50 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe27.jpg")
							.desc
								h5.center-align 
									a(href="#") Aplicaciones Web con Java y PHP avanzado
								p Duración: 70 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
				.row
					.col.12.m4
						.curso
							img(src="images/cursos/pe22.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño y Javascript, HTML5 y CSS3
								p Duración: 60 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe23.jpg")
							.desc
								h5.center-align 
									a(href="#") Gestión de máquinas virtuales, clustering, rendimiento y backup en vsphere y microsoft hyper-v
								p Duración: 120 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe24.jpg")
							.desc
								h5.center-align 
									a(href="#") Enterprise Design Patterns con .NET
								p Duración: 50 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
				.row
					.col.12.m4
						.curso
							img(src="images/cursos/pe25.jpg")
							.desc
								h5.center-align 
									a(href="#") VMWare-COnsolidación, instalación de host y gestión de networking y almacenamiento en Vsphere y Microsoft Hyper-v
								p Duración: 20 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe26.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño web con Expression Blend y XAML Avanzado
								p Duración: 50 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe27.jpg")
							.desc
								h5.center-align 
									a(href="#") Aplicaciones Web con Java y PHP avanzado
								p Duración: 70 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
				.row
					.col.12.m4
						.curso
							img(src="images/cursos/pe22.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño y Javascript, HTML5 y CSS3
								p Duración: 60 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe23.jpg")
							.desc
								h5.center-align 
									a(href="#") Python y Django
								p Duración: 80 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe24.jpg")
							.desc
								h5.center-align 
									a(href="#") Enterprise Design Patterns con .NET
								p Duración: 50 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
				.row
					.col.12.m4
						.curso
							img(src="images/cursos/pe25.jpg")
							.desc
								h5.center-align 
									a(href="#") ASP.NET y Caches
								p Duración: 20 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe26.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño web con Expression Blend y XAML Avanzado
								p Duración: 50 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe27.jpg")
							.desc
								h5.center-align 
									a(href="#") Aplicaciones Web con Java y PHP avanzado
								p Duración: 70 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
				.row
					.col.12.m4
						.curso
							img(src="images/cursos/pe22.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño y Javascript, HTML5 y CSS3
								p Duración: 60 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe23.jpg")
							.desc
								h5.center-align 
									a(href="#") Python y Django
								p Duración: 80 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe24.jpg")
							.desc
								h5.center-align 
									a(href="#") Enterprise Design Patterns con .NET
								p Duración: 50 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
				.row
					.col.12.m4
						.curso
							img(src="images/cursos/pe25.jpg")
							.desc
								h5.center-align 
									a(href="#") ASP.NET y Caches
								p Duración: 20 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe26.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño web con Expression Blend y XAML Avanzado
								p Duración: 50 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe27.jpg")
							.desc
								h5.center-align 
									a(href="#") Aplicaciones Web con Java y PHP avanzado
								p Duración: 70 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
