doctype
html
	head
		title Euroteknia
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel = 'icon', type = "image/png", href = "images/uni-logo.jpg")
		link(rel="stylesheet" href="css/materialize.css")
		link(rel="stylesheet", href="css/style.css")
	body
		nav
			.container
				ul.navigation
					li
						a(href="#") 
							img(src="images/iconos/home.png")
							|HOME
					li
						a(href="#") 
							img(src="images/iconos/cursos.png")
							|CURSOS
					li
						a(href="#") 
							img(src="images/iconos/diploma.png")
							|DIPLOMADOS
					li
						a(href="#") 
							img(src="images/iconos/proyec.png")
							|MAESTRÍAS
					li
						a(href="#")
							img(src="images/iconos/unicloud.png")
							|UNCLOUD
					li
						a(href="#") 
							img(src="images/iconos/campus.png")
							|CAMPUS VIRTUAL
		section.cursos
			.container.bg-white
				.row.file1
					.col.s12.m6
						h2 CURSOS
						p Nuestros cursos online y e-Learning han sido diseñados por expertos profesionales internacionales que contribuyen con su experiencia a la facilitación del aprendizaje a través de contenidos de aprendizaje dinamizados, técnicas colaborativas y propuestas innovadoras para la participación y el protagonismo de los cursantes.
					.col.s12.m6
						h2 CERTIFICACIÓN
						p Todos nuestros cursos tienen una certificación que será dada por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería de Perú. 
				.filtering-nav
					ul 
						li
							a(href="#" class="active") todos 
						li
							a(href="#") programación
						li
							a(href="#") bbdd y redes
						li
							a(href="#") sistemas
						li
							a(href="#") negocios y economía
						li
							a(href="#") docencia y tic's
						li
							a(href="#") marketing y diseño digital
						li
							a(href="#") ingeniería y multimedia
						li
							a(href="#") gestión de proyectos y ofimática
				.clear
				.row
					.col.12.m4
						.curso
							img(src="images/cursos/pe22.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño y Javascript, HTML5 y CSS3
								p Duración: 60 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe22.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño y Javascript, HTML5 y CSS3
								p Duración: 60 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
					.col.s12.m4
						.curso
							img(src="images/cursos/pe22.jpg")
							.desc
								h5.center-align 
									a(href="#") Diseño y Javascript, HTML5 y CSS3
								p Duración: 60 horas
								p Modalidad: e-Learning
								.certificado
									p Certificado por la Escuela Central de Posgrado de la Universidad Nacional de Ingeniería
