nav
	.container
		ul.navigation
			li
				a(href="#") 
					img(src="images/iconos/home.png")
					|HOME
			li
				a(href="#") 
					img(src="images/iconos/cursos.png")
					|CURSOS
			li
				a(href="#") 
					img(src="images/iconos/diploma.png")
					|DIPLOMADOS
			li
				a(href="#") 
					img(src="images/iconos/proyec.png")
					|MAESTRÍAS
			li
				a(href="#")
					img(src="images/iconos/unicloud.png")
					|UNCLOUD
			li
				a(href="#") 
					img(src="images/iconos/campus.png")
					|CAMPUS VIRTUAL