doctype
html
	head
		title Euroteknia
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/materialize.css")
		link(rel="stylesheet", href="css/main.css")
	body
		nav
			.nav-wrapper
				a(href="#" class="bran-logo") Logo
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href="#") Cursos
					li
						a(href="#") Diplomados
					li
						a(href="#") Masters
					li
						a(href="#") Uncloud
					li
						a(href="#") Campus Virtual
		.slider
			ul.slides
				li
					img(src="images/slide1.jpg")
					.caption.center-align
						h3 This is our big Tagline!
						h5.light.grey-text.text-lighten-3 Here's our small slogan.
				li
					img(src="images/slide2.jpg")
					.caption.left-align
						h3 This is our big Tagline!
						h5.light.grey-text.text-lighten-3 Here's our small slogan.
				li
					img(src="images/slide3.jpg")
					.caption.right-align
						h3 This is our big Tagline!
						h5.light.grey-text.text-lighten-3 Here's our small slogan.
				li
					img(src="images/slide4.jpg")
					.caption.center-align
						h3 This is our big Tagline!
						h5.light.grey-text.text-lighten-3 Here's our small slogan.
	script(type='text/javascript', src='js/materialize.js')