.header > .container.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}


.cbp-l-grid-agency-title.no-overflow{
	white-space: normal;
  height: 60px;
   display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;


}

.cbp-title-dark .duration{
	padding: 6px 0;
}

.cbp-title-dark .duration p{
	margin: 0;
}

.certificado {
      background-color: white;
      color: white;
      border-radius: 4px; 
      text-align: left;
      font-style: italic;
      margin-top: 25px;
}

.inscripcion{
  height: 240px;
  border-radius: 14px;
  background-color: #efeded;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inscripcion a{
      border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #009EE0;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    margin-top: 14px;
    border-radius: 5px;


}

.inscripcion p{
  font-weight: 700;
  font-size: 14px;
}

a{
  color: black;
  font-family: Futura;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.box {
  position: relative;
  height: 360px;
  padding: 20px;
  margin: 20px 0;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
}

.box:hover{
  opacity: 0.6;
}

.boxTitle {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 30px;
  font-family: FuturaBold;
  font-size: 21px;
  line-height: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}

.boxFooter {
  width: 100%;
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
  left: 0;
}

.box hr {
  margin: 10px 0;
  border-top: 1px solid #d5d6d7;
  border-bottom: 1px solid #ffffff;
}

.mt-30{
  margin-top: 30px;
}

.btn-u.btn-u-lg:hover{
  background-color: #285C67;
}

.rounded-x.fa.fa-link:hover{
  background-color: #009EE0;
}  

.sectionTitle {
  margin: 20px 0;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
}

.ms-layer.btn-u:hover{
  background-color: #3B5998;
}

hr {
  
  margin: 20px auto;
  border-top: 1px solid #d5d6d7;
  border-bottom: 1px solid #ffffff;
}

@media (min-width: 992px){ 
.header-fixed .header-v6.header-sticky-no-fixed{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
 }
}

@media screen and (min-width: 200px) {
  
  #myModal .modal-dialog  {width:90%;}

}

@font-face{
  font-family: FuturaBold;
  src:url(./fonts/Futura Bold Font/FuturaT_Bold.ttf);
}

.block-grid-v2 a:hover{
  text-decoration: none;
}

.block-grid-v2 img{
 max-width: 100%;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.block-grid-v2 img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.pt-35{
  padding-top: 35px;
}

.header-v6 .navbar-nav > li > a {
  font-size: 16px;
}

.sectionTitle hr{
  width: 80%;

}

.header-fixed .header-v6.header-classic-white .navbar-nav .active > a{
  font-size: 18px;
}

@media (max-width: 991px){ 
.header-v6 .navbar-nav > li a {
  border-bottom: none;
  }
}

.bg-gray{
  background-color: #F5F7F8;
}

.pd-30{
  padding: 30px 50px;
}

.learning img{
  width: 250px;
  height: 250px;
}

/*Header*/
.cabecera{
  background-color: black;
  padding: 14px 35px;
  line-height: 5px;
}

.cabecera img{
  width: 100px;
  height: 100px;
}

.cabecera .title h2{
  padding: 0px 21px;
  color: white;
  margin: 0;
}

.cabecera .title{
  padding: 7px 0;
}

@media (max-width: 1120px){
.cabecera .title h2{
  padding: 0px 70px;
  }

}


@media (min-width: 992px){
.header-v6 .navbar-nav > li > a {
  padding: 4px 11px;
  line-height: 54px;
  }
}

/*Slider*/

#slider { 
position: relative;
overflow: hidden;
width: 100%;
height: 400px; 
margin: 0 auto;
padding: 0;
}

#slider .img-slider img{
position: absolute;
bottom: 30px;
left: 0;
display: block;
width: 400px;
height: 24px;
margin:0;
padding: 5px 0;
color: #eee;
background: #990000;
font-size: 22px;
line-height:22px;
text-align:center;
}

/*Pre-slider*/
.titulo{
  font-weight: 700;
  font-size: 28px;
  color: black;
}
/*Registro*/

.fieldset header {
  color: inherit;
  display: block;
  font-size: 20px;
  background: #fff;
  font-weight: 400;
  padding: 8px 30px;
}

.fieldset {
  box-shadow: none;
  border: 1px solid #eee;
}

ul.detalle-curso li::before {
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 7px;
}

ul{
  list-style-type: none;
}

ul.detalle-curso li{
  font-size: 16px;
}

.terminos{
  padding: 20px 30px;
  height: 300px;
  overflow-y: scroll;
  text-align: justify;
}

.fieldset form{
  border-top: none;
  border-bottom: none;
  padding: 10px 30px;
}

.fieldset button{
  margin: 10px 30px;
}

.pago .fieldset h3{
  font-weight: 700;
}

.pago .fieldset img{
  width: 100%;
}

.pago .fieldset{
  padding: 10px 30px;
}

.visa img{
  border: solid 1px #F7B617;
  width: 100px;
  height: 90px;
  padding: 10px;
} 

.pago .fieldset .consultas img{
  width: 28px;
  height: 28px;
  margin-left: 20px;
}

.opacity-pago{
  opacity: 0.3;
}

/*Contacto*/

.contactus{
  background-image: url("../img/contactus.jpg");
  background-size: cover;
}
.opacity {
  width: 100%;
  background: black;
  opacity: 0.7;
  padding: 20px 0;
}

.contactus h3{
  padding-bottom: 2%;
}
.contactus .input, .message{
  padding: 2%;
  opacity: 0.4;
    display: block;
    width: 85%; 
    margin-bottom: 20px;
    font-size: 1.2em;
}
.message{
    height: 190px;
}
.contactus button{
  border: none;
  padding: 10px 22px;
  font-size: 1.3em;
}