.header > .container.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}


.cbp-l-grid-agency-title.no-overflow{
	white-space: normal;
  height: 60px;
   display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;


}

.cbp-title-dark .duration{
	padding: 6px 0;
}

.cbp-title-dark .duration p{
	margin: 0;
}

.certificado {
      background-color: white;
      color: white;
      border-radius: 4px; 
      text-align: left;
      font-style: italic;
      margin-top: 25px;
}

.inscripcion{
  height: 240px;
  border-radius: 14px;
  background-color: #efeded;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inscripcion a{
      border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #009EE0;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    margin-top: 14px;
    border-radius: 5px;


}

.inscripcion p{
  font-weight: 700;
  font-size: 14px;
}

a{
  color: black;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.box {
  position: relative;
  height: 360px;
  padding: 20px;
  margin: 20px 0;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
}

.box:hover{
  opacity: 0.6;
}

.boxTitle {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 30px;
  font-family: FuturaBold;
  font-size: 21px;
  line-height: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}

.boxFooter {
  width: 100%;
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
  left: 0;
}

.box hr {
  margin: 10px 0;
  border-top: 1px solid #d5d6d7;
  border-bottom: 1px solid #ffffff;
}

.mt-30{
  margin-top: 30px;
}

.btn-u.btn-u-lg:hover{
  background-color: #285C67;
}

.rounded-x.fa.fa-link:hover{
  background-color: #009EE0;
}  

.sectionTitle {
  margin: 50px 0;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
}

.ms-layer.btn-u:hover{
  background-color: #3B5998;
}

hr {
  
  margin: 20px auto;
  border-top: 1px solid #d5d6d7;
  border-bottom: 1px solid #ffffff;
}

@media (min-width: 992px){ 
.header-fixed .header-v6.header-sticky-no-fixed{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
 }
}

@media screen and (min-width: 200px) {
  
  #myModal .modal-dialog  {width:90%;}

}

.block-grid-v2 a:hover{
  text-decoration: none;
}

.block-grid-v2 img{
 max-width: 100%;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.block-grid-v2 img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.pt-35{
  padding-top: 35px;
}