$menu:#003160;
$bg-curso:#D7D7D7;
$bg-certificado:#660000;

h2{
	font-size:30px;
	color:$menu;
}
nav{
	background-color:$menu;
	padding:21px 0;
}


.navigation{
	letter-spacing: normal;
    max-width: 100%;
    li{
    	width: 16%;
	    margin: none;
	    text-align: center;
	    text-transform: uppercase;
	    line-height: 20px;
	    a{
	    	font-size: 14px;
	    }
	    li:nth-child(6){
	    	width: 20%;
	    }
	    img{
	    	border: 0;
		    vertical-align: top;
		    text-align: left;
	    }
    }
}

.cursos{
	background: url('../images/bg-cursos.jpg') repeat;
	.container{
		-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
	}
	.bg-white{
		background-color:white;
	}
	.file1{
		padding: 50px 80px;
		text-align:justify;
		h2{
			font-weight: 900;
		}
	}
	.filtering-nav{
		margin: 0 auto;
    	padding: 0px 0px 58px 65px;
   		border-top: 1px solid #b4b4b4;
    	border-bottom: 1px solid #b4b4b4;
    	li{
    	  float: left;
		  background: #CCC;
		  margin-right: 5px;
		  margin-top: 5px;
		  padding: 8px 5px 8px 5px;
		  text-align: center;
		  text-transform: uppercase;
		  font-size: 12px;
		  a{
		  	color:black;
		  	font-weight: 700;
		  	font-size: 10px;
		  }
		  .active a{
			  color: #FFF;
			  background-color: $menu;
			  padding: 8px 5px 8px 5px;
			}
    	}
	}
	.curso{
		background-color: $bg-curso;
		width: 100%;
		img{
				width: 100%;
			}
		.desc{ 
			padding: 17px;
			h5 a{
				font-size: 14px;
			}
			p{
				font-size: 12px;
			}	

		}
		.certificado{
			background-color: $bg-certificado;
			color: white;
			border-radius: 4px;
			p{
				font-size: 11px;
				padding: 5px;
				text-align: center;
			}
		}
	}
	.row{
		padding: 10px 65px;
	}
	.clear{
		clear: both;
	}
}